<%= form_for(movie) do |f| %>
  <%= render 'application/form_errors', form: movie %>

  <div class="form-group">
    <%= f.label :name, "Nombre", class: "control-label" %>
    <%= f.text_field :name, class: "form-control", data: { validation: 'required' }  %>
  </div>

  <div class="form-group">
    <%= f.label :director, "Director", class: "control-label" %>
    <%= f.text_field :director, class: "form-control", data: { validation: 'required' }  %>
  </div>

  <div class="form-group">
    <%= label_tag :category_id, "Categoría", class: "control-label" %>
    <%= f.collection_select :category_id, @categories, :id, :name, { include_blank: 'Seleccione una categoría', selected: (movie.category.id unless movie.category.nil?) }, { id: 'category-selector', class: 'form-control', data: { validation: 'required' } } %>
  </div>

  <div class="form-group">
    <%= f.label :release_date, "Fecha de Estreno", class: "control-label" %>
    <%= f.text_field :release_date, class: "datepicker form-control", data: { validation: 'date', "validation-format": "dd/mm/yyyy" } %>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <%= f.file_field :image, class: 'form-control' %>
    </div>
    <div class="col-sm-3"><%= image_tag movie.image(:medium), class: 'img-responsive' %></div>
  </div>

  <div class="form-group">
    <%= f.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>
