<div class="row">
  <div class="col-sm-12">
    <h1 class="page-header">Editar Película</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'form', movie: @movie %>
      </div>
    </div>
  </div>
</div>
