<h1>Películas <%= link_to 'Agregar', new_movie_path, class: 'btn btn-success pull-right' %></h1>

<table class="table table-striped table-bordered table-hover table-condensed table-scrollable">
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Director</th>
      <th>Categoría</th>
      <th>Fecha de Estreno</th>
      <th>Estatus</th>
      <th>Rentas</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= image_tag movie.image(:thumb), class: 'img-responsive table-column-image' %></td>
        <td><%= movie.name %></td>
        <td><%= movie.director %></td>
        <td><%= movie.category.name %></td>
        <td><%= movie.release_date %></td>
        <td>
          <% if movie.client.nil? %>
          <label class="label label-success">Disponible</label>
          <% else %>
            <label class="label label-danger">Rentada a <%= movie.client.name %></label>
          <% end %>
        <td><%= movie.rents %></td>
        <td>
          <%= link_to '<i class="fa fa-eye fa-lg"></i>'.html_safe, movie %>

          <% if movie.client.nil? %>
            <%= link_to '<i class="fa fa-film fa-lg"></i>'.html_safe, rent_movie_path(movie) %>
          <% else %>
            <%= link_to '<i class="fa fa-reply fa-lg"></i>'.html_safe, return_movie_path(movie), method: :post, data: { confirm: movie.client.name + ' retornará ésta película' } %>
          <% end %>

          <%= link_to '<i class="fa fa-pencil fa-lg"></i>'.html_safe, edit_movie_path(movie) %>
          <%= link_to '<i class="fa fa-trash fa-lg"></i>'.html_safe, movie, method: :delete, data: { confirm: 'Se eliminará ésta película' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>