<div class="row">
  <div class="col-sm-12">
    <h1 class="page-header">Rentar Película</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for @movie, :url => rent_movie_url(@movie), :method => :put do |f| %>
          <%= render 'application/form_errors', form: @movie %>

          <div class="form-group">
            <%= f.label :name, "Película", class: "control-label" %>
            <%= f.text_field :name, class: "form-control", :readonly => true, data: { validation: 'required' }  %>
          </div>

          <div class="form-group">
            <%= label_tag :client_id, "Cliente", class: "control-label" %>
            <%= f.collection_select :client_id, @clients, :id, :name, { include_blank: 'Seleccione un cliente', selected: (@movie.client.id unless @movie.client.nil?) }, { id: 'client-selector', class: 'form-control', data: { validation: 'required' } } %>
          </div>

          <div class="form-group">
            <%= f.submit "Guardar", class: "btn btn-primary" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
