<div class="row">
  <div class="col-sm-4">
    <p>
      <strong>Nombre:</strong>
      <%= @movie.name %>
    </p>

    <p>
      <strong>Director:</strong>
      <%= @movie.director %>
    </p>

    <p>
      <strong>Categoría:</strong>
      <%= @movie.category.name %>
    </p>

    <p>
      <strong>Fecha de Estreno:</strong>
      <%= @movie.release_date %>
    </p>

    <% unless @movie.client.nil? %>
      <p>
        <strong>Cliente que la alquiló:</strong>
        <%= @movie.client.name %>
      </p>
    <% end %>

    <p>
      <strong>Rentas:</strong>
      <%= @movie.rents %>
    </p>
  </div>
  <div class="col-sm-3">
    <%= image_tag @movie.image(:medium), class: 'img-responsive' %>
  </div>
</div>

<%= link_to '<i class="fa fa-pencil fa-2x"></i>'.html_safe, edit_movie_path(@movie) %> |
<%= link_to '<i class="fa fa-arrow-circle-left fa-2x"></i>'.html_safe, movies_path %>
