/* line 5, /var/www/html/tekton-movies/app/assets/stylesheets/home.scss */
.panel-body {
  padding: 0 !important;
}

/* line 9, /var/www/html/tekton-movies/app/assets/stylesheets/home.scss */
.panel-footer {
  background-color: unset !important;
}
