/*!
 * Start Bootstrap - SB Admin 2 v3.3.7+1 (http://startbootstrap.com/template-overviews/sb-admin-2)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
/* line 7, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
body {
  background-color: #f8f8f8;
}

/* line 10, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
#wrapper {
  width: 100%;
}

/* line 13, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: white;
}

@media (min-width: 768px) {
  /* line 19, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}
/* line 26, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.navbar-top-links {
  margin-right: 0;
}

/* line 29, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.navbar-top-links li {
  display: inline-block;
}

/* line 32, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.navbar-top-links li:last-child {
  margin-right: 15px;
}

/* line 35, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}

/* line 39, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.navbar-top-links .dropdown-menu li {
  display: block;
}

/* line 42, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

/* line 45, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

/* line 49, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

/* line 52, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 400px;
  min-width: 0;
}

/* line 58, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}

/* line 61, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}

/* line 64, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}

/* line 67, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}

/* line 71, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

/* line 75, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.sidebar .sidebar-search {
  padding: 15px;
}

/* line 78, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}

/* line 81, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.sidebar ul li a.active {
  background-color: #eeeeee;
}

/* line 84, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.sidebar .arrow {
  float: right;
}

/* line 87, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.sidebar .fa.arrow:before {
  content: "\f104";
}

/* line 90, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}

/* line 93, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}

/* line 97, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.sidebar .nav-second-level li a {
  padding-left: 37px;
}

/* line 100, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.sidebar .nav-third-level li a {
  padding-left: 52px;
}

@media (min-width: 768px) {
  /* line 104, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }

  /* line 110, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
/* line 116, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

/* line 121, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.btn-primary.btn-outline {
  color: #428bca;
}

/* line 124, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.btn-success.btn-outline {
  color: #5cb85c;
}

/* line 127, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.btn-info.btn-outline {
  color: #5bc0de;
}

/* line 130, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.btn-warning.btn-outline {
  color: #f0ad4e;
}

/* line 133, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.btn-danger.btn-outline {
  color: #d9534f;
}

/* line 136, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}

/* line 143, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 148, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999999;
}

/* line 153, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.chat li.left .chat-body {
  margin-left: 60px;
}

/* line 156, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.chat li.right .chat-body {
  margin-right: 60px;
}

/* line 159, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.chat li .chat-body p {
  margin: 0;
}

/* line 162, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

/* line 166, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}

/* line 170, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.login-panel {
  margin-top: 25%;
}

/* line 173, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.flot-chart {
  display: block;
  height: 400px;
}

/* line 177, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.flot-chart-content {
  width: 100%;
  height: 100%;
}

/* line 181, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
}

/* line 188, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}

/* line 193, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}

/* line 198, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, 0.5);
}

/* line 204, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

/* line 213, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}

/* line 221, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

/* line 229, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}

/* line 235, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.show-grid {
  margin: 15px 0;
}

/* line 238, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.huge {
  font-size: 40px;
}

/* line 241, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.panel-green {
  border-color: #5cb85c;
}

/* line 244, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}

/* line 249, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.panel-green > a {
  color: #5cb85c;
}

/* line 252, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.panel-green > a:hover {
  color: #3d8b3d;
}

/* line 255, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.panel-red {
  border-color: #d9534f;
}

/* line 258, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}

/* line 263, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.panel-red > a {
  color: #d9534f;
}

/* line 266, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.panel-red > a:hover {
  color: #b52b27;
}

/* line 269, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.panel-yellow {
  border-color: #f0ad4e;
}

/* line 272, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}

/* line 277, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.panel-yellow > a {
  color: #f0ad4e;
}

/* line 280, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.panel-yellow > a:hover {
  color: #df8a13;
}

/* line 283, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline {
  position: relative;
  padding: 20px 0 20px;
  list-style: none;
}

/* line 288, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
  margin-left: -1.5px;
  background-color: #eeeeee;
}

/* line 298, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline > li {
  position: relative;
  margin-bottom: 20px;
}

/* line 302, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

/* line 307, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline > li:after {
  clear: both;
}

/* line 310, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

/* line 315, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline > li:after {
  clear: both;
}

/* line 318, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline > li > .timeline-panel {
  float: left;
  position: relative;
  width: 46%;
  padding: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

/* line 328, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline > li > .timeline-panel:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 26px;
  right: -15px;
  border-top: 15px solid transparent;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ccc;
}

/* line 339, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline > li > .timeline-panel:after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 27px;
  right: -14px;
  border-top: 14px solid transparent;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #fff;
}

/* line 350, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline > li > .timeline-badge {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  font-size: 1.4em;
  line-height: 50px;
  color: #fff;
  background-color: #999999;
}

/* line 365, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

/* line 368, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

/* line 374, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

/* line 380, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

/* line 383, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline-badge.success {
  background-color: #3f903f !important;
}

/* line 386, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

/* line 389, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline-badge.danger {
  background-color: #d9534f !important;
}

/* line 392, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline-badge.info {
  background-color: #5bc0de !important;
}

/* line 395, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline-title {
  margin-top: 0;
  color: inherit;
}

/* line 399, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

/* line 403, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 767px) {
  /* line 407, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
  ul.timeline:before {
    left: 40px;
  }

  /* line 410, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
  ul.timeline > li > .timeline-panel {
    width: calc(10%);
    width: -moz-calc(10%);
    width: -webkit-calc(10%);
  }

  /* line 415, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
  ul.timeline > li > .timeline-badge {
    top: 16px;
    left: 15px;
    margin-left: 0;
  }

  /* line 420, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
  ul.timeline > li > .timeline-panel {
    float: right;
  }

  /* line 423, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
  ul.timeline > li > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }

  /* line 429, /var/www/html/tekton-movies/app/assets/stylesheets/theme.scss */
  ul.timeline > li > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
}
