/* line 1, /var/www/html/tekton-movies/app/assets/stylesheets/vertical_grid.scss */
.container-fixed {
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

/* line 9, /var/www/html/tekton-movies/app/assets/stylesheets/vertical_grid.scss */
.container-fixed .col {
  height: 100%;
  overflow: auto;
}

/* line 14, /var/www/html/tekton-movies/app/assets/stylesheets/vertical_grid.scss */
.row-xs-12 {
  height: 100%;
}

/* line 15, /var/www/html/tekton-movies/app/assets/stylesheets/vertical_grid.scss */
.row-xs-11 {
  height: 91.66666666666666%;
}

/* line 16, /var/www/html/tekton-movies/app/assets/stylesheets/vertical_grid.scss */
.row-xs-10 {
  height: 83.33333333333334%;
}

/* line 17, /var/www/html/tekton-movies/app/assets/stylesheets/vertical_grid.scss */
.row-xs-9 {
  height: 75%;
}

/* line 18, /var/www/html/tekton-movies/app/assets/stylesheets/vertical_grid.scss */
.row-xs-8 {
  height: 66.66666666666666%;
}

/* line 19, /var/www/html/tekton-movies/app/assets/stylesheets/vertical_grid.scss */
.row-xs-7 {
  height: 58.333333333333336%;
}

/* line 20, /var/www/html/tekton-movies/app/assets/stylesheets/vertical_grid.scss */
.row-xs-6 {
  height: 50%;
}

/* line 21, /var/www/html/tekton-movies/app/assets/stylesheets/vertical_grid.scss */
.row-xs-5 {
  height: 41.66666666666667%;
}

/* line 22, /var/www/html/tekton-movies/app/assets/stylesheets/vertical_grid.scss */
.row-xs-4 {
  height: 33.33333333333333%;
}

/* line 23, /var/www/html/tekton-movies/app/assets/stylesheets/vertical_grid.scss */
.row-xs-3 {
  height: 25%;
}

/* line 24, /var/www/html/tekton-movies/app/assets/stylesheets/vertical_grid.scss */
.row-xs-2 {
  height: 16.666666666666664%;
}

/* line 25, /var/www/html/tekton-movies/app/assets/stylesheets/vertical_grid.scss */
.row-xs-1 {
  height: 8.333333333333332%;
}
