<div class="custom-pagination">
  <div class="pagination-info">Mostrando registros del <%= (collection.current_page - 1)*10 + 1 %> al <%= (collection.current_page)*10 > collection.total_entries ? collection.total_entries : (collection.current_page)*10 %> de un total de <%= (collection.total_entries) %> registros</div>
  <div class="pagination-container"><%= will_paginate collection,renderer: BootstrapPagination::Rails, inner_window: 1, outer_window: 1 %></div>
</div>