<div class="panel-heading">
  <h3 class="panel-title">Cambiar Contraseña</h3>
</div>
<div class="panel-body">
  <div class="row" style="margin-bottom: 2em">
    <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      <%= image_tag "logo-movies.png", class: "img-responsive" %>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, "Nueva contraseña", class: "control-label" %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control", data: { validation: 'required' } %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Confirmar nueva contraseña", class: "control-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", data: { validation: 'required' } %>
    </div>

    <div class="form-group">
      <%= f.submit "Cambiar mi contraseña", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="panel-footer">
  <%= link_to new_user_session_path do %><i class="fa fa-sign-in fa-fw"></i> Iniciar Sesión<% end %>
</div>