<%= form_for(client) do |f| %>
  <%= render 'application/form_errors', form: client %>

  <div class="form-group">
    <%= f.label :name, "Nombre", class: "control-label" %>
    <%= f.text_field :name, class: "form-control", data: { validation: 'required' }  %>
  </div>

  <div class="form-group">
    <%= f.label :email, "Email", class: "control-label" %>
    <%= f.text_field :email, class: "form-control", data: { validation: 'required|email' }  %>
  </div>

  <div class="form-group">
    <%= f.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>
