<h1>Clientes <%= link_to 'Agregar', new_client_path, class: 'btn btn-success pull-right' %></h1>

<table class="table table-striped table-bordered table-hover table-condensed table-scrollable">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Rentas Actuales</th>
      <th>Rentas</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody >
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.email %></td>
        <td>
          <% if client.movies.count > 0 %>
            <%= (client.movies.map { |movie| movie.name }).join(', ') %>
          <% else %>
            <em class="text-muted">Sin Rentas</em>
          <% end %>
        </td>
        <td><%= client.rents %></td>
        <td>
          <%= link_to '<i class="fa fa-eye fa-lg"></i>'.html_safe, client %>
          <%= link_to '<i class="fa fa-pencil fa-lg"></i>'.html_safe, edit_client_path(client) %>
          <%= link_to '<i class="fa fa-trash fa-lg"></i>'.html_safe, client, method: :delete, data: { confirm: 'Se eliminará éste cliente' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
