<p>
  <strong>Nombre:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<% if @client.movies.count > 0 %>
  <p>
    <strong>Rentas Actuales:</strong>
    <%= (@client.movies.map { |movie| movie.name }).join(', ') %>
  </p>
<% end %>

<p>
  <strong>Rentas:</strong>
  <%= @client.rents %>
</p>

<%= link_to '<i class="fa fa-pencil fa-2x"></i>'.html_safe, edit_client_path(@client) %> |
<%= link_to '<i class="fa fa-arrow-circle-left fa-2x"></i>'.html_safe, clients_path %>
