<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="page-header">
          Películas más rentadas
        </h2>
      </div>
    </div>

    <div class="row">
      <% @movies.each do |movie| %>
        <div class="col-sm-6">
          <div class="panel panel-default movie-card">
            <div class="panel-body"> <%= image_tag movie.image(:large), class: 'img-responsive card-image' %></div>
            <div class="panel-footer"><%= movie.name %> (<%= movie.release_date.strftime("%Y") %>) <span class="badge alert-info pull-right"><%= movie.rents %></span></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="page-header">
          Clientes que más rentan
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <table class="table table-striped table-bordered table-hover table-condensed table-scrollable datatable-with-paging without-actions">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Cantidad</th>
          </tr>
          </thead>

          <tbody>
          <% @clients.each do |client| %>
            <tr>
              <td><%= client.name %> </td>
              <td><%= client.email %> </td>
              <td><%= client.rents %> </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




