@import "jquery-ui";
@import "libraries/metisMenu.min";
@import "theme";
@import  "bootstrap-datepicker3";
@import "bootstrap-datetimepicker";
@import "select2";
@import "select2-bootstrap";
@import "libraries/bootstrap-clockpicker.min";

/*
 *= require_tree
 *= require_self
 */

body{
  div#page-wrapper{
    div#notification-wrapper{
      padding-top: 1em;
    }
  }
}

.table-scrollable{
  overflow-x: scroll;
}

table.left-bold{
  tr{
    td{
      &:first-child{
        font-weight: bold;
      }
    }
  }
}
.navbar-brand{
  height: auto;

  img{
    width: 8em;
    height: auto; 
  }
}

.sidebar{
  margin-top: 5.5em;
}

.navbar .navbar-right li.dropdown{
  font-size: 1.5em;
  margin-top: 0.5em;
}

/*
 * Tables
 */

.table thead tr th{
  text-align: center;
}

.table thead tr th, .table tbody tr td{
  vertical-align: middle;
}

.table:not(.without-actions) tbody tr td:last-child{
  text-align: center;
}

.table:not(.without-actions) tbody tr td:last-child a{
  margin: 0 10px;
}

.table tbody tr td .table-column-image{
  width: 100px;
  height: 70px;
  display: block;
  margin: 0 auto;
}

/*
 * Pagination
 */

.custom-pagination{
  display: flex;
  justify-content: space-between;
}
.custom-pagination > .pagination-container .pagination{
  margin: 0;
}

.movie-card .panel-body{
  padding: 0 !important;
}

.movie-card .panel-footer{
  background-color: unset !important;
}

.movie-card .card-image{
  width: 100%;
  height: 200px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
