// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-body{
  padding: 0 !important;
}

.panel-footer{
  background-color: unset !important;
}
