<p>Hola <%= @resource.full_name %>!</p>

<p>Alguien ha solicitado un cambio de contraseña en la plataforma. Puedes hacerlo en el enlace inferior:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no fuiste tú quien solicitó el cambio, puedes ignorar este mensaje.</p>
<p>Tu contraseña no será cambiada hasta que accedas al enlace y la cambies.</p>
