<% if form.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(form.errors.count, "error") %> han prohibido que éste registro sea guardado:</h2>

    <ul>
      <% form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>