<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Abrir menú</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
  </button>

  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'logo-movies.png', style: 'height:40px; width:auto;' %>
  <% end %>
</div>

<% if user_signed_in? %>
  <ul class="nav navbar-top-links navbar-right">
    <li id="userDropdown" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out fa-fw"></i> Cerrar sesión
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
<% end %>

<%= render partial: 'sidebar' %>
