<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <% if user_signed_in? %>
        <li>
          <%= link_to root_path do %>
            <i class="fa fa-dashboard fa-fw"></i> Inicio
          <% end %>
        </li>
        <li>
          <%= link_to movies_url do %>
            <i class="fa fa-film fa-fw"></i> Peliculas
          <% end %>
        </li>
        <li>
          <%= link_to clients_url do %>
            <i class="fa fa-user fa-fw"></i> Clientes
          <% end %>
        </li>
      <% else %>

      <% end %>
    </ul>
  </div>
</div>