<!DOCTYPE html>
<html>
   <head>
    <title>Tekton Movies - Administrador Web</title>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <!-- jQuery -->
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.min.js" %>
    <!-- end jQuery -->

    <!-- jQuery UI -->
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" %>
    <!-- end jQuery UI -->

    <!-- Bootstrap -->
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" %>
    <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" %>
    <!-- end Bootstrap -->

    <!-- FontAwesome -->
    <%= javascript_include_tag "https://use.fontawesome.com/6f7d6aff4e.js" %>
    <!-- end FontAwesome -->

    <!-- Google Charts -->
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
    <!-- end Google Charts -->
    
    <!-- Form Validator -->
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js" %>
    <!-- end Form Validator -->

    <%= wicked_pdf_stylesheet_link_tag    'application', media: 'all' %>
    <%= wicked_pdf_stylesheet_link_tag    'pdf', media: 'all' %>
    <%= wicked_pdf_javascript_include_tag 'application' %>
    <%= wicked_pdf_stylesheet_link_tag    "vertical_grid", media: 'all' %>

    <!-- Data Tables -->
    <%= stylesheet_link_tag "//cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" %>
    <%= javascript_include_tag "//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" %>
    <%= javascript_include_tag "//cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js" %>
    <%= javascript_include_tag "//cdn.datatables.net/plug-ins/1.10.16/sorting/datetime-moment.js" %>
    <!-- End Data Tables -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="wrapper">
      <div id="page-wrapper">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
